---
import Layout from '@layouts/Layout.astro'
import Welcome from '@sections/Welcome.astro'
import Description from '@sections/Description.astro'
import Selector from '@sections/Selector.astro'
import Accordion from '@sections/Accordion.astro'
import Footer from '@sections/Footer.astro'
---

<Layout>
	<Welcome />
	<Description />
	<Selector server:defer>
    <div slot="fallback" class="flex justify-center items-center h-96">
      <span class="w-full h-full text-center">Cargando evaluaciones...</span>
    </div>
  </Selector>
	<Accordion />
	<Footer />
</Layout>
