<header class="py-8 px-4 text-center bg-blue-500 text-white">
  <p class="text-3xl pb-6">Bienvenido a <strong>SISVITA</strong></p>
  <span class="text-xl">Una plataforma donde puedas evaluar tu nivel de ansiedad por medio de famosos test</span>
</header>