---
import { getAllTests } from '@api/connection'
import TestCard from '@components/TestCard.astro'

const tests = await getAllTests();
---
<>
  {
    tests.map((test: {id: string, name:string, description:string, slug: string, author: string}) => (
      <TestCard {...test} />
    ))
  }
  {
    tests.length === 1 && (
      <div class="flex justify-center items-center">
        <span class="text-center">Servidor no disponible</span>
      </div>
    )
  }
</>