---
import AccordionItem from '@components/AccordionItem.astro';

const ACCORDION_DATA = [
  {
    question: '¿En que ayuda SISVITA?',
    asnwer: 'SISVITA es una plataforma web que permite a las personas realizar test de ansiedad y validar los resultados obtenidos para un mejor entendimiento de su estado emocional.'
  },
  {
    question: '¿Cúal fue el motivo para desarrollar SISVITA?',
    asnwer: 'SISVITA fue desarrollado con el objetivo de proporcionar una herramienta accesible y confiable para que las personas puedan evaluar su nivel de ansiedad y obtener resultados precisos que les ayuden a tomar decisiones informadas sobre su salud mental.'
  },
  {
    question: '¿Qué se espera de la aplicación web?',
    asnwer: 'Se espera que las futuras mejoras de SISVITA incluyan nuevas funcionalidades, una interfaz de usuario más intuitiva y la integración de más tests y recursos para ofrecer un soporte más completo a los usuarios.'
  }
]
---

<section class="w-full max-w-2xl mb-16 px-3">
  <h1 class="text-center text-black text-xl lg:text-3xl font-bold pb-6">Acerca de SISVITA</h1>

  <div id="accordion-open" data-accordion="open">
    {
      ACCORDION_DATA.map(({ question, asnwer }, index) => (
        <AccordionItem index={index} title={question} content={asnwer} />
      ))
    }
  </div>
</section>

<script>
    document.addEventListener('astro:page-load', () => {
      const accordionHeadings = document.querySelectorAll('[id^="accordion-open-heading-"]');
      const accordionBodies = document.querySelectorAll('[id^="accordion-open-body-"]');

      accordionHeadings.forEach((heading, index) => {
        heading.addEventListener('click', () => {
          accordionBodies[index].classList.toggle('hidden');        
          const extendSvg = heading.querySelector('#extend-icon');
          if (extendSvg) extendSvg.classList.toggle('rotate-180');
        });
      });
    })
</script>