<section class="max-w-6xl bg-gray-100 mx-6 lg:mx-12 my-6 p-4 lg:p-8 rounded-lg text-justify text-sm lg:text-xl">    
  <div class="grid grid-cols-1 lg:grid-cols-2 place-items-center">
    <div>
      <p>SISVITA es una plataforma innovadora diseñada para medir el nivel de ansiedad de una persona a través de tests psicológicos reconocidos.</p>
      <p>La ansiedad es un problema de salud mental generalizado que puede tener graves consecuencias si no se trata adecuadamente. Algunos de los efectos negativos</p>
      <p>Tratar la ansiedad es crucial para mejorar la calidad de vida y prevenir complicaciones a largo plazo. Con un diagnóstico y tratamiento adecuados</p>
    </div>
    <img class="aspect-square w-[180px] lg:w-[360px] mix-blend-multiply" src="/ind.jpg" alt="hola">
  </div>
  <p class="mt-8 text-gray-700 italic">SISVITA está aquí para ayudarte a dar el primer paso hacia una vida libre de ansiedad. Realiza nuestros tests hoy y comienza tu camino hacia el bienestar emocional.</p>
</section>
